@import "ui-variables";

.snippets-editor {
  display: flex;
  overflow: auto;

  .button-area {
    margin: 15px;
    > .btn {
      width: 100%;
    }
  }

  .select-scope {
    flex: 1.6;
    min-width: 180px;
    max-width: 240px;

    -webkit-user-select: none;
    user-select: none;
    padding-top: @component-padding;
    background-color: lighten(@base-background-color, 2%);
    border-right: 1px solid @base-border-color;
    overflow-x: auto;
  }

  .select-snippet {
    flex: 1.6;
    min-width: 180px;
    max-width: 240px;

    -webkit-user-select: none;
    user-select: none;
    padding-top: @component-padding;
    background-color: lighten(@base-background-color, 2%);
    border-right: 1px solid @base-border-color;
    overflow-x: auto;
  }

  li + li {
    margin-top: 0;
  }

  li > a {
    border-radius: 1px !important;
    padding: 12px 14px;
    line-height: 16px;
    opacity: .85;
    transition: opacity .1s ease-in;
    box-shadow: inset 0 -1px 0 rgba(0,0,0, 25%);

    &:hover {
      opacity: 1;
      box-shadow: inset 0 -1px 0 rgba(0,0,0, 25%) !important;
    }
  }

  li:first-child {margin-top:2px;}
  li:last-child {margin-bottom: 10px;}

  li.active a, li.active a:hover {
    opacity: 1;
    box-shadow: 0 0 0 1px darken(#3c76dd, 10%) !important;

    .package-author, .package-version {
      color: #fff;
      opacity: .6;
    }
  }

  .edit-snippet {
    flex: 8.4;
    flex-flow: column;
    display: flex;
    position: relative;
    min-width: 0;
    padding: 25px;

    .control-group + .control-group {
      margin-top:  1.5em;
    }

    .setting-title {
      font-size: 1.2em;
      -webkit-user-select: none;
    }

    .setting-description {
      margin-top:  0.2em;
      color: @text-color-subtle;
      -webkit-user-select: none;
      cursor: default;

      &:empty {
        display: none;
      }
    }

    .editor-container {
      margin-top:  0.2em;
    }
  }
}
